:root {
  --bg-hover-color: #fafafa;
  --link-hover-color: tomato;
  --text-color: #232323;
}

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding-left: 8px;

  overflow-x: hidden;

  font-family: "Avenir Next", "Avenir", sans-serif;
}

*:focus {
  outline: 0;
}

a {
  width: 100%;
  height: inherit;
  text-decoration: none;
  color: var(--text-color);

  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

.coffee {
  font-size: 2.3em;
  position: absolute;
  left: 90%;
  top: -0.25em;
}

#menu .arrow {
  font-size: medium;
  float: right;
}

#menu {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu li {
  position: relative;
  right: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 16px;

  transition:color 0.2s linear, background 0.2s linear;
}

#menu li:hover {
  background-color: var(--bg-hover-color);
}

#colorPicker input {
  -webkit-appearance: none !important; /* Needed to clear default Mozilla styles */
  opacity: 35%;
  border-style: hidden;
  position: relative;
  top: 0.5em;
  padding: 0.1em;
  width: 100%;
}

#colorPicker input:hover {
  cursor: pointer;
}

#colorPicker label:hover {
  cursor: pointer;
}

#suggestions input {
  -webkit-appearance: none !important; /* Needed to reset default Mozilla styles */
  background-color: var(--bg-hover-color);
  opacity: 35%;
  position: relative;
  top: 0.3em;
  padding: 0.1em;
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 0.5em;
}

.options {
  list-style-type: none;
}

.options li:hover {
  color: var(--link-hover-color);
}

.options label:hover {
  cursor: pointer;
}

.options input {
  float: right;
}

.words {
  list-style-type: none;
  word-wrap: break-word;
}

.words li {
  display: none;
  border-top: 1px solid rgba(0,0,0,0);
  color: #232323;
  cursor: not-allowed;
  transition: all 1.5s ease;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.words li:after {
  color: #f0a;
  content: '\00bb'; /* code for &raquo; */
  display: block;
  float: right;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

.words li:hover {
  color: var(--link-hover-color);
  background: rgba(255,255,255,.2);
  border-radius: 3px;
  border-top: 1px solid rgba(255,255,255,.1);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.words li:hover:after {
  opacity: 1;
}
