body {
  font-family: sans-serif;
  text-align: center;
  font-size: 22px;
}

div.container {
  position: relative;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  height: 210px;
  width: 310px;
}

#one {
  border: 3px solid limegreen;
  position: relative;
  display: inline-block;
}

#two {
  border: 3px solid tomato;
  position: relative;
  display: inline;
}

#three {
  border: 3px solid lightblue;
  position: relative;
  display: block;
}
