/* Suggestions */
.multidict-suggestions-wrapper {
  position: inherit;
  display: inline-block;
  top: 0px;
  left: 0px;
  visibility: visible;
}

.multidict-suggestions-container {
  box-sizing: border-box;
  position: relative;
  perspective: 1000px;
  margin: 0px auto;
  transition: 0.5s;
  width: 0px;
}

.multidict-suggestions-frame {
  position: absolute;
  transform-style: preserve-3d;
  transition: inherit;
}

.multidict-suggestion {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  position: absolute;
  width: inherit;
  height: inherit;
  line-height: inherit;
  transition: inherit;
  text-align: left;
}

/* Highlights */
.multidict-container {
	display: inline-block;
	position: relative;
	overflow: hidden !important;
	-webkit-text-size-adjust: none !important;
}

.multidict-backdrop {
	position: absolute !important;
	top: 0 !important;
	right: -99px !important;
	bottom: 0 !important;
	left: 0 !important;
	padding: 0 99px 0 0 !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.multidict-highlights {
	width: auto !important;
	height: auto !important;
	border-color: transparent !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	overflow: hidden !important;
  color: transparent;
}

.multidict-input {
	display: block !important;
	position: relative !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.multidict-content {
	background: none transparent !important;
}

.multidict-content mark {
  background-color: inherit;
  color: transparent;
  border-radius: 15%;
}

.multidict-content mark.red {
	background-color: #ffc9c9;
}

.multidict-content mark.blue {
	background-color: #a3daff;
}

.multidict-content mark.yellow {
	background-color: #ffec99;
}
