.hwt-container {
	display: inline-block;
	position: relative;
	overflow: hidden !important;
	-webkit-text-size-adjust: none !important;
	padding: 0 !important;
}

.hwt-backdrop {
	position: absolute !important;
	top: 0 !important;
	right: -99px !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 99px 0 0 !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-highlights {
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	border-color: transparent !important;
	border-width: 0 !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	color: transparent !important;
	overflow: hidden !important;
}

.hwt-input {
	display: block !important;
	position: relative !important;
	/* padding: 0;
	border-radius: 0;
	font: inherit; */
	margin: 0 !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-content {
	border-width: 1px;
	border-style: solid;
	background: none transparent !important;
}

.hwt-content mark {
	padding: 0 !important;
	color: inherit;
}

.hwt-content mark.red {
	background-color: #ffc9c9;
}

.hwt-content mark.blue {
	background-color: #a3daff;
}

.hwt-content mark.yellow {
	background-color: #ffec99;
}
